h1 {
  font-size: 80px;
  color: aliceblue;
  text-align: center;
}

.nav-item a:hover {
  color: #2639ff;
}

div {
  padding: 20px;
}

li a {
  color: aliceblue;
}

div p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: aliceblue;
}

.popupExito p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

